<div>
    <h1>{{'MENUITEMS.FORUMS.CREATE_POST' | translate}}</h1>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{'MENUITEMS.FORUMS.POST_TITLE' | translate}}</mat-label>
        <input matInput [(ngModel)]="postTitle">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{'MENUITEMS.FORUMS.POST_CONTENT' | translate}}</mat-label>
        <textarea matInput [(ngModel)]="postContent"></textarea>
    </mat-form-field>

    <!--Interactable buttons-->
    <div *ngIf="editorEnabled === true">
        <button mat-flat-button color="primary" (click)="savePost()">{{'MENUITEMS.FORUMS.SAVE_POST' | translate}}</button>
        <button mat-stroked-button class="stroked-btn" (click)="closeDialog()">{{'MENUITEMS.FORUMS.CANCEL' | translate}}</button>
    </div>

    <!--Disabled buttons-->
    <div *ngIf="editorEnabled === false">
        <button mat-flat-button class="flat-btn-disabled" disabled>{{'MENUITEMS.FORUMS.SAVE_POST' | translate}}</button>
        <button mat-flat-button class="flat-btn-disabled" disabled>{{'MENUITEMS.FORUMS.CANCEL' | translate}}</button>
    </div>
</div>