:host ::ng-deep .ck-editor__editable_inline {
  min-height: 419px;
  max-height: 419px;
}

.container-diary {
  padding: 0;
  margin: 0;
}

::ng-deep snack-bar-container simple-snack-bar .mat-simple-snackbar-action {
  color: white;
}

.card-entries-container {
  padding: 3px 10px;
}

.entries-side {
  background-color: white;
  border-radius: 10px;
  padding: 9px 1px 3px 1px;
  margin-bottom: 0;
  max-height: 520px;
}

.card-entry {
  cursor: pointer;
  margin: 3px;
  padding-right: 3px;
  font-weight: 400;
  box-shadow: none;
  border-radius: 0;

  &:hover {
    background-color: #ebf6f9;
    transition: 0.3s;
    border-radius: 10px;
  }
}

.opened-entry {
  background-color: #9cd3e3 !important;
  transition: 0.3s;
  border-radius: 10px;
}

.card-date {
  width: 3rem;
  height: 3rem;
  flex: 0 0 auto;
  line-height: 1.2;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
  border-radius: 10px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #38a6c5;
  background-color: #c3e5ee;
  padding: 25px;
  margin: 10px;
}

.week-day {
  font-size: .6rem;
  letter-spacing: 2px;
}

.tool-buttons {
  justify-content: space-between;
  float: left;

  button {
    fill: #484c72;
    color: #484c72;
    background-color: transparent !important;
    box-shadow: none !important;
    margin-right: 50px;

    &:hover {
      background-color: #ebf6f9 !important;
      transition: 0.3s;
    }
  }
}

.icon-color {
  color: #484c72;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
}

:host ::ng-deep .entry-content {
  display: inline-block;
  white-space: nowrap;
  box-shadow: none !important;

  h2, h3, h4 {
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 1.5;
    margin: 0;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
  }
}

.container-tags {
  background-color: white;
}

.bg-blue-gradient {
  background-image: linear-gradient(
      to right bottom,
      #c3e5ee, #b5dfea, #a7d8e5,
      #98d2e1, #89cbdd, #7fc6da,
      #75c2d7, #6bbdd4, #64bad2,
      #5cb6d0, #54b3ce, #4cb0cc);
}

.diary-details {
  min-height: 505px;
  max-height: 505px;
  font-size: 1rem;
  color: white;
  text-align: center;

  button {
    background-color: #3158a7;
    color: white;
    width: 18px;
  }

  .title {
    font-weight: 600;
  }

  .details-content {
    font-weight: 400;
  }
}


