<section class="content">
  <div class="content-block" [hidden]="loading">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb *ngIf="diary !== undefined" [title]="'DIARY_ENTRY.TITLE' | translate"
                      [active_item]="diary.title | titlecase"></app-breadcrumb>
    </div>
    <div class="row container-diary">

      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 entries-side">
        <ng-scrollbar visibility="hover" [style.height]="550 + 'px'">
          <div class="card-entries-container">
            <mat-card class="p-3 card-entry" [ngClass]="{'opened-entry' : entry === currentEntry}"
                      tabindex="0" *ngFor="let entry of entries"
                      (click)="setEditorContent(entry)">
              <div class="row">
                <div class="col-8">
                  <div class="entry-content" [innerHTML]="generatePreview(entry.content, 15)">
                  </div>
                </div>
                <div class="col-4">
                  <div class="card-date">
                    <span class="align-middle week-day">{{ getFormattedWeekDay(entry.date) | uppercase }}</span>
                    <span class="align-middle">{{ entry.date | date:"M/d" }}</span>
                  </div>
                </div>
                <div class="pt-1">
                  <small>{{ entry.date | date:'shortTime' }}</small>
                </div>
              </div>
            </mat-card>
          </div>
        </ng-scrollbar>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="card">
          <div class="m-l-10 p-2">
            <button mat-mini-fab color="primary" class="float-end mx-3" (click)="addEntry()">
              <mat-icon>add</mat-icon>
            </button>
            <div class="tool-buttons" *ngIf="!editorHidden">
              <button mat-mini-fab (click)="closeEditor()">
                <mat-icon>close</mat-icon>
              </button>
              <button mat-mini-fab (click)="generateJournalPrompt()">
                <mat-icon>smart_toy</mat-icon>
              </button>
              <button mat-mini-fab (click)="saveEntry()" *ngIf="entryWasCreated">
                <mat-icon>save</mat-icon>
              </button>
              <button mat-icon-button [matMenuTriggerFor]="moreToolsMenu" *ngIf="entryWasCreated"
                      aria-label="icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #moreToolsMenu="matMenu">
                <!--<button mat-menu-item>
                  <mat-icon class="icon-color">loyalty</mat-icon>
                  <span>Tags</span>
                </button>
                <button mat-menu-item>
                  <mat-icon class="icon-color">info</mat-icon>
                  <span>Details</span>
                </button>-->
                <button mat-menu-item (click)="deleteEntry()">
                  <mat-icon class="icon-color">delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </div>
          </div>
          <div *ngIf="generatingPrompt">
            <mat-progress-bar mode="buffer"></mat-progress-bar>
          </div>
          <div class="row">
            <div [hidden]="editorHidden">
              <div class="col-lg-12">
                <ckeditor #editor [editor]="Editor" [data]="editorContent">
                </ckeditor>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="loading" class="center">
    <app-spinner [isLoading]="loading"></app-spinner>
  </div>
</section>

