<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Compose'" [items]="['Email']" [active_item]="'Compose'"></app-breadcrumb>
    </div>
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 entries-side">
        <ul class="list">
          <ng-scrollbar visibility="hover" [style.height]="560 + 'px'">
            <li class="card card-statistic-2 card-entry" tabindex="0" *ngFor="let entry of entries"
                (click)="setEditorContent(entry)">
              <div class="clearfix">
                <div class="card-right">
                  <div>
                    <p class="float-end">{{ entry.content | slice:0:25 }}...</p>
                  </div>
                  <div class="m-r-10 m-l-10">
                    <small class="font-weight-bold mb-0 float-end">{{ entry.date | date:'shortTime' }}</small>
                  </div>
                </div>
                <div class="card-date">
                  <span class="align-middle week-day">{{ entry.date | date:"E" | uppercase }}</span>
                  <span class="align-middle">{{ entry.date | date:"M/d" }}</span>
                </div>
              </div>
            </li>
          </ng-scrollbar>

        </ul>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="card">
          <div class="m-l-10 p-2 tool-bar">
            <button mat-mini-fab color="primary" class="float-end mx-3" (click)="addEntry()">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-mini-fab class="grey-icon" (click)="closeEditor()" *ngIf="!editorHidden">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <ckeditor [hidden]="editorHidden" #editor [editor]="Editor" [data]="editorContent"></ckeditor>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
