:host ::ng-deep .ck-editor__editable_inline{
  min-height: 460px;
  max-height: 460px;
}

.card-entry {
  cursor: pointer;
  margin: 0 !important;
  padding-right: 3px;
  font-weight: 400;

  &:focus {
    background-color: #f2f4f9;
    transition: 0.3s;
  }

  &:hover {
    background-color: #f2f4f9;
    transition: 0.3s;
  }
}

.card-date {
  width: 3rem;
  height: 3rem;
  flex: 0 0 auto;
  line-height: 1.2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
  border-radius: 10px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  margin: 25px;
  border: 1px solid #f5f9ff;
  background-color: #98a1b7;
  color: #ffffff;
}

.week-day {
  font-size: .7rem;
  letter-spacing: 2px;
}

.button-close {
  color: #484c72;
  background-color: transparent !important;
  box-shadow: none !important;
  float: left;

  &:hover {
    background-color: #f2f4f9 !important;
    transition: 0.3s;
  }
}
