<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/pages/Bloom.png);">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <div class="col-md-5 col-sm-12 right_info">
            <div class="language-switcher">
                <button (click)="changeLanguage('es')" [class.active]="isLanguageActive('es')">ES</button>
                <button (click)="changeLanguage('en')" [class.active]="isLanguageActive('en')">EN</button>
            </div>
          </div>
          <h2 class="welcome-msg"> {{'FORGOT_PASSWORD.RESET_PASSWORD' | translate}} </h2>
          <p class="auth-signup-text text-muted">{{'FORGOT_PASSWORD.HELP' | translate}}</p>
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <span class="error-subheader2 p-t-20 p-b-15">
                  {{'FORGOT_PASSWORD.EMAIL_REGISTRED' | translate}}
                </span>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{'FORGOT_PASSWORD.EMAIL' | translate}}</mat-label>
                  <input matInput formControlName="email" required>
                  <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>mail</mat-icon>
                  <mat-error *ngIf="authForm.get('email')!.hasError('required') || authForm.get('email')!.touched">
                    {{'FORGOT_PASSWORD.EMAI_VALID' | translate}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="container-auth-form-btn mt-5">
              <button mat-raised-button color="primary" class="auth-form-btn" [disabled]="!authForm.valid "
                type="submit">
                {{'FORGOT_PASSWORD.RESET' | translate}}
              </button>
            </div>
            <div class="w-full p-t-25 text-center">
              <div>
                <a routerLink="/authentication/signin" class="txt1">
                  {{'FORGOT_PASSWORD.LOGIN' | translate}}
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
