<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Compose'" [items]="['Resource']" [active_item]="'Compose'"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="card">
          <div class="body">
            <div id="mail-nav">
              <button type="button" class="btn btn-success waves-effect m-b-15">Tag All</button>
              <h5 class="b-b p-10 text-strong">My Patients</h5>
              <ul class="online-user" id="online-offline">
                <li>
                  <mat-checkbox  class="m-r-15" color="primary">
                    <a href="javascript:;">
                      <i class="material-icons col-green" title="Online">brightness_1</i>Sachin</a>
                  </mat-checkbox>
                </li>
                <li>
                  <mat-checkbox  class="m-r-15" color="primary">
                    <a href="javascript:;">
                      <i class="material-icons col-indigo" title="Off Line">brightness_1</i>John
                      Smith
                    </a>
                  </mat-checkbox>

                </li>
                <li>
                  <mat-checkbox  class="m-r-15" color="primary">
                    <a href="javascript:;">
                      <i class="material-icons col-orange" title="Away">brightness_1</i>Askay</a>
                  </mat-checkbox>
                </li>
                <li>
                  <mat-checkbox  class="m-r-15" color="primary">
                    <a href="javascript:;">
                      <i class="material-icons col-indigo" title="Off Line">brightness_1</i>Dhavan</a>
                  </mat-checkbox>
                </li>
                <li>
                  <mat-checkbox  class="m-r-15" color="primary">
                    <a href="javascript:;">
                      <i class="material-icons col-indigo" title="Off Line">brightness_1</i>Lee</a>
                  </mat-checkbox>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="card">
          <div class="boxs mail_listing">
            <div class="inbox-center table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th colspan="1">
                      <div class="inbox-header">
                        Compose New Resource
                      </div>
                    </th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <form class="composeForm" [formGroup]="formGroup" >

                  <div class="form-line">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Title</mat-label>
                      <input matInput id="resourcetitle" formControlName="resourcetitle" >
                    </mat-form-field>
                  </div>

                  <ckeditor #richEditor [editor]="editor" [data]="data"></ckeditor>



<!--addfile button-->
<!--                  <div class="compose-editor m-t-20">-->
<!--                    <div id="summernote"></div>-->
<!--                    <input type="file" class="default" multiple>-->
<!--                  </div>-->



                </form>
              </div>
              <div class="col-lg-12">
                <div class="m-l-25 m-b-20">
                  <button mat-flat-button color="primary" class="msr-2" (click)="onSubmit()">Post</button>
                  <button mat-flat-button color="warn">Discard</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
