<div>
  <h1>{{ 'MENUITEMS.GAMES-SECTION.SCORES' | translate }} | {{ 'MENUITEMS.GAMES-SECTION.DIFFICULTY' | translate }} {{
    difficultyLabel | translate }}</h1>

  <!--Progress div-->
  <div class="scores-container">
    <div *ngIf="scoresLoaded === false">
      <div class="preloader">
        <div class="spinner-layer pl-teal">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>

    <!--Scores div-->
    <div *ngIf="scoresLoaded === true && scores.length > 0" class="scores-list">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let score of scores">{{ score.score }}</li>
      </ul>
    </div>

    <!--No scores message-->
    <div *ngIf="scoresLoaded === true && scores.length === 0" class="scores-list">
      <p>{{ 'MENUITEMS.GAMES-SECTION.NO-SCORES' | translate }}</p>
    </div>
  </div>
</div>