
<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'ADMIN_BREADCRUM.RESOURCES.TITLE' | translate"[items]="[]" [active_item]="'ADMIN_BREADCRUM.RESOURCES.ACTIVE_ITEM' | translate"></app-breadcrumb>

    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="materialTableHeader">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                  <h2>Search by Title</h2>
                </li>
                <li class="tbl-search-box">
                  <label for="search-input"><i class="material-icons search-icon">search</i></label>
                  <input placeholder="Search" type="text"  (keyup)="applyFilter($event.target)" class="browser-default search-field"
                    aria-label="Search box">
                </li>
              </ul>
            </div>
            
          </div>
          <div class="boxs mail_listing">
            <div class="inbox-center table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="text-center"></th>

                    <th colspan="3">
                      <div class="inbox-header">
                        <div class="mail-option no-pad-left">
                          <div class="email-btn-group m-l-15">

                            <button mat-icon-button aria-label="Example icon-button with a heart icon">
                              <mat-icon>keyboard_return</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="deleteResource()">
                              <mat-icon>delete</mat-icon>
                            </button>
                     

                          </div>
                        </div>
                      </div>
                    </th>

                  </tr>
                </thead>
                <tbody>
                <tr >
                  <td class="tbl-checkbox"></td>

                  <td class="hidden-xs" >Title</td>

                  <td class="max-texts">Content</td>

                  <td class="max-texts" > Post date</td>

                </tr>

                  <tr *ngFor="let r of resourcesList">
                    <td class="tbl-checkbox">
                      <mat-checkbox class="example-margin" (click)="readResourceCheck(r.id)"></mat-checkbox>
                    </td>

                    <td class="hidden-xs" >{{r.title}}</td>

                    <td class="max-texts">
                      <a routerLink="../../resource/read-resource" (click)="readResource(r.id)"  [innerHTML]="r.content.substring(0,200)"></a>
                    </td>

                    <td class="max-texts" > {{r.date}} </td>

                  </tr> 

                </tbody>
              </table>
            </div>
                <!-- Loading spinner -->
              <div *ngIf="loading" class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
