.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content{
  right: -32px !important;
}

.notification-first-line{
  display: flex;
  justify-content: space-between;
  line-height: normal;
}

span.menu-info > div > span.menu-title {
  width: 30%;
  left: auto;
  line-height: normal;
}

.metadata {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.54);
}

.notification-first-line .nfc-menu .nfc-dropdown .menu .menu-info .menu-title {
}
