<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'PATIENT_BREADCRUM.CONTACTS.TITLE' | translate" [items]="[]"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tabbable-line">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="materialTableHeader">
                  <div class="left">
                    <ul class="header-buttons-left ms-0">
                      <li class="tbl-title">
                        <h2>{{ 'CONTACTS.TITLE' | translate }}</h2>
                      </li>
                      <li class="tbl-search-box">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <input placeholder="{{ 'CONTACTS.SEARCH_PLACEHOLDER' | translate }}" type="text" (input)="applyFilter($event)" class="browser-default search-field">
                      </li>
                    </ul>
                  </div>
                  <div class="right">
                    <ul class="tbl-export-btn">
                      <li class="tbl-header-btn">
                        <div class="m-l-10" matTooltip="{{ 'CONTACTS.ADD_CONTACT_TOOLTIP' | translate }}">
                          <button mat-mini-fab color="primary" (click)="addNew()">
                            <mat-icon class="col-white">add</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="body overflow-auto" *ngIf="dataSource">
                  <div class="responsive_table">
                    <table mat-table [dataSource]="dataSource" matSort class="mat-cell advance-table w-100">
                      <!-- Checkbox Column -->
                      <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                          <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                          </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                          <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [ngClass]="'tbl-checkbox'">
                          </mat-checkbox>
                        </mat-cell>
                      </ng-container>

                      <!-- ID Column -->
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CONTACTS.ID' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CONTACTS.NAME' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> <span class="mobile-label">{{ 'CONTACTS.NAME' | translate }}:</span>{{ row.name }}
                        </mat-cell>
                      </ng-container>

                      <!-- Email Column -->
                      <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CONTACTS.EMAIL' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> <span class="mobile-label">{{ 'CONTACTS.EMAIL' | translate }}:</span>{{ row.email }}
                        </mat-cell>
                      </ng-container>

                      <!-- Relation Column -->
                      <ng-container matColumnDef="relation">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CONTACTS.RELATION' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label">{{ 'CONTACTS.RELATION' | translate }}:</span>{{ row.relation }}</mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="actions">
                        <mat-header-cell class="psl-3 tbl-col-width-per-10" *matHeaderCellDef>{{ 'CONTACTS.ACTIONS' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row; let i=index;" class="psl-3 tbl-col-width-per-10">
                          <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="editContact(row)">
                              <i class="material-icons-two-tone align-middle msr-2">create</i>
                              <span>{{ 'CONTACTS.EDIT_CONTACT' | translate }}</span>
                            </button>
                            <button mat-menu-item (click)="deleteContact(row)">
                              <i class="material-icons-two-tone align-middle msr-2">delete_forever</i>
                              <span>{{ 'CONTACTS.DELETE_CONTACT' | translate }}</span>
                            </button>
                          </mat-menu>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns">
                      </mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                      </mat-row>

                    </table>

                    <div *ngIf="isLoading" class="tbl-spinner">
                      <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                      </mat-progress-spinner>
                    </div>

                    <div *ngIf="!isLoading">
                      <div *ngIf="dataSource.data.length === 0 && !isFiltering" class="no-results">
                        {{ 'CONTACTS.NO_CONTACTS_AVAILABLE' | translate }}
                      </div>
                      <div *ngIf="dataSource.data.length === 0 && isFiltering" class="no-results">
                        {{ 'CONTACTS.NO_RESULTS_FOUND' | translate }}
                      </div>
                    </div>

                    <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10"
                      [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
