<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Doctor Dashboard'" [items]="[]" [active_item]="'Dashboard'"></app-breadcrumb>
    </div>
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="body">
            <div class="row align-items-center">
              <div class="col-md-4">
                <img src="assets/images/pages/welcome.png" alt="" class="w-100">
              </div>
              <div class="col-md-8">
                <h4 class="font-20 weight-500 mb-2">
                  Welcome back <div class="weight-600 font-30 col-blue pt-1"> {{name + "!"}}</div>
                </h4>
                <p class="font-16 max-width-600">
                  Cada día trae una nueva oportunidad para impactar vidas. Estamos emocionados por las experiencias y logros que nos esperan. <br> ¡Su dedicación y pasión hacen una gran diferencia!.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-orange">
              <i class="material-icons align-middle">content_cut</i>
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end">Recursos compartidos</h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold float-end mb-0"> 2</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-red">
              <i class="material-icons align-middle">face</i>
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end">Aumentos de nivel ansiedad</h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold float-end mb-0"> 5</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-cyan">
              <i class="material-icons align-middle">face</i>
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end">Pacientes activos</h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold float-end mb-0">3</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-green">
              <i class="material-icons align-middle">person_add</i>
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end">Pacientes registrados</h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold float-end mb-0"> 129</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
        <div class="card" style="height: calc(100% - 24px);">
          <div class="card-body">
            <div class="float-start">
              <h6 class="text-muted">Pacientes con mayores ataques de ansiedad registrados</h6>
              <h5> <span class="text-muted font-12"></span></h5>
            </div>
            <div class="mb-5">
              <apx-chart
              [series]="topAnxietyCasesOptions.series!"
              [chart]="topAnxietyCasesOptions.chart!"
              [dataLabels]="topAnxietyCasesOptions.dataLabels!"
              [stroke]="topAnxietyCasesOptions.stroke!"
              [colors]="topAnxietyCasesOptions.colors!"
              [title]="topAnxietyCasesOptions.title!"
              [subtitle]="topAnxietyCasesOptions.subtitle!"
              [plotOptions]="topAnxietyCasesOptions.plotOptions!"
              [yaxis]="topAnxietyCasesOptions.yaxis!"
              [xaxis]="topAnxietyCasesOptions.xaxis!"
              [tooltip]="topAnxietyCasesOptions.tooltip!"
            ></apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Grafica de agrupación de pacientes por nivel de ansiedad</h2>
          </div>
          <div class="body">
            <div id="chart">
              <apx-chart [series]="anxietyLevelGroupingOptions.series!" [chart]="anxietyLevelGroupingOptions.chart!"
                [labels]="anxietyLevelGroupingOptions.labels!" [responsive]="anxietyLevelGroupingOptions.responsive!"
                [dataLabels]="anxietyLevelGroupingOptions.dataLabels!" [legend]="anxietyLevelGroupingOptions.legend!" 
                [colors]="anxietyLevelGroupingOptions.colors!"
                class="apex-pie-center">
              </apx-chart>
            </div>
            <div class="table-responsive m-t-15">
              <table class="table align-items-center">
                <tbody>
                  <tr>
                    <td><i class="fa fa-circle col-green msr-2"></i> Nivel 1</td>
                    <td>2 Pacientes</td>
                    <td class="col-green">5%</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-circle col-cyan msr-2"></i>Nivel 2</td>
                    <td>7 Pacientes</td>
                    <td class="col-green">15%</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-circle col-blue msr-2"></i>Nivel 3</td>
                    <td>4 Pacientes</td>
                    <td class="col-green">8%</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-circle col-yellow msr-2"></i>Nivel 4</td>
                    <td>14 Pacientes</td>
                    <td class="col-orange">25%</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-circle col-orange msr-2"></i>Nivel 5</td>
                    <td>20 Pacientes</td>
                    <td class="col-orange">36%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
