.spinner{
  display: flex;
  flex-direction: column;
}

.img{
  display: flex;
  justify-content: space-around;
}


.select{
  display: flex !important;
  justify-content: center !important;
}

.text{
  display: flex;
  justify-content: center;
  color: grey;
}

.logo{
  animation: rotate 2s linear infinite;
  transform-origin: center;
}

@keyframes rotate {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  75% {
    transform: rotate(-45deg);

  }
}
