<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'ADMIN_BREADCRUM.DASHBOARD.TITLE' | translate" [items]="[]"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="body">
            <div class="row align-items-center">
              <div class="col-md-4">
                <img src="assets\images\Bloom.png" alt="" class="w-100">
              </div>
              <div class="col-md-8">
                <h4 class="font-20 weight-500 mb-2">
                  {{ 'DASHBOARD_ADMIN.WELCOME_TITLE' | translate }}
                  <div class="weight-600 font-30 col-blue pt-1">{{ name + "!" }}</div>
                </h4>
                <p class="font-16 max-width-600">
                  {{ 'DASHBOARD_ADMIN.WELCOME_TEXT' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
