<section class="content">
    <div class="content-block">
        <div class="game-container">
            <h1>{{ 'MENUITEMS.GAMES-SECTION.PUZZLE-GAME.TITLE' | translate }}</h1>

            <!--Game Board-->
            <div>
                <div>
                    <button mat-flat-button color="primary" (click)="goToMenu()">{{ 'MENUITEMS.GAMES-SECTION.DIFFICULTY'
                        | translate }}</button>
                    <button mat-flat-button color="primary" (click)="goToScores()">{{ 'MENUITEMS.GAMES-SECTION.SCORES' |
                        translate }}</button>
                    <button mat-flat-button color="primary" (click)="newGame()">{{ 'MENUITEMS.GAMES-SECTION.RESTART' |
                        translate }}</button>
                </div>

                <div class="m-t-20">
                    <h5>{{ 'MENUITEMS.GAMES-SECTION.YOUR-SCORE' | translate }}: {{ currentScore }}</h5>
                </div>

                <div class="puzzle-game-board" [ngStyle]="getTileStyles()">
                    <div class="puzzle-game-board-overlay">
                    </div>

                    <app-puzzle-game-tile *ngFor="let tile of tiles; let i = index" [index]="i" [value]="tile.value"
                        [tilesNumber]="tilesNumber" [tileSize]="tileSize" [disabled]="tile.disabled"
                        [class.disabled]="tile.disabled" class="puzzle-tile" (click)="selectTile(i)"
                        [ngStyle]="getTileStyles()">
                    </app-puzzle-game-tile>
                </div>
            </div>

            <!--Initial Screen Difficuly and Background dialog-->
            <div *ngIf="gameState === GameStates.InitialScreen" class="game-menu-dialog">
                <div class="card dialog-card">
                    <!--Difficuly select-->
                    <h1>{{ 'MENUITEMS.GAMES-SECTION.SELECT-DIFFICULTY' | translate }}</h1>
                    <form>
                        <mat-form-field class="example-full-width">
                            <mat-label>{{ 'MENUITEMS.GAMES-SECTION.DIFFICULTY' | translate }}</mat-label>
                            <mat-select [(ngModel)]="difficultySelected" name="difficultySelected">
                                <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty.value">
                                    {{ difficulty.viewValue | translate }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                    
                    <!--Background select-->
                    <h1>{{ 'MENUITEMS.GAMES-SECTION.PUZZLE-GAME.SELECT-BACKGROUND' | translate }}</h1>
                    <div class="backgrounds-container">
                        <app-puzzle-game-background-option 
                        *ngFor="let background of getPuzzleImages(); let i = index"
                        class="background-option-container"
                        [style]="getBackgroundOptionStyle(background.imagePath)"
                        (click)="changeBackground(i)"
                        [class.background-option-container-selected]="i === backgroundIndex"
                        [selected]="i === backgroundIndex">                           
                        </app-puzzle-game-background-option>
                    </div>

                    <button mat-flat-button color="primary" (click)="newGame()">{{
                        'MENUITEMS.GAMES-SECTION.START-NEW-GAME' | translate }}</button>
                    <button mat-flat-button color="primary" (click)="returnToGame()">{{
                        'MENUITEMS.GAMES-SECTION.GO-BACK' | translate }}</button>
                </div>
            </div>

            <!--Win dialog-->
            <div *ngIf="gameState === GameStates.ResultsScreen" class="game-menu-dialog">
                <div class="card dialog-card">
                    <!--Current Score-->
                    <div>
                        <h3>{{ 'MENUITEMS.GAMES-SECTION.YOUR-SCORE' | translate }}: {{ currentScore }}</h3>
                    </div>

                    <!--Scores History-->
                    <app-scores-list [gameID]="2" [userID]="currentUser.id" [difficulty]="difficultySelected"
                        [difficultyLabel]="difficulties[difficultySelected].viewValue"></app-scores-list>

                    <!--Go back button-->
                    <button mat-flat-button color="primary" (click)="returnToGame()">{{
                        'MENUITEMS.GAMES-SECTION.GO-BACK' | translate }}</button>
                </div>
            </div>

            <!--Scores-->
            <div *ngIf="gameState === GameStates.ScoresScreen" class="game-menu-dialog">
                <div class="card dialog-card">
                    <!--Scores History-->
                    <app-scores-list [gameID]="2" [userID]="currentUser.id" [difficulty]="difficultySelected"
                        [difficultyLabel]="difficulties[difficultySelected].viewValue"></app-scores-list>

                    <!--Go back button-->
                    <button mat-flat-button color="primary" (click)="returnToGame()">{{
                        'MENUITEMS.GAMES-SECTION.GO-BACK' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</section>