<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Settings'" [items]="[]" [active_item]="'Settings'"></app-breadcrumb>
    </div>
    <div class="card">
      <div class="header">
        <h2>
          <strong>Security</strong> Settings</h2>
      </div>
        <!-- breadcrumb -->
        <div class="body" >
          <div class="example-container">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Contrasena actual</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Nueva Contrasena</mat-label>
              <input matInput type="password">
            </mat-form-field>
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Confirmar contrasena</mat-label>
              <input matInput type="password">
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary">Guardar</button>
        </div>
    </div>
    <div class="card">
      <div class="header">
        <h2>
          <strong>Account</strong> Settings</h2>
      </div>
      <div class="body" [formGroup]="userUpdateForm">
        <div class="row clearfix">
          <div class="col-lg-6 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name" >
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Apellido</mat-label>
                <input matInput formControlName="lastName">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-label>provincia</mat-label>
              <input matInput formControlName="province">
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>canton</mat-label>
                <input matInput formControlName="canton">
              <!--
 <mat-select formControlName="canton">
                  <mat-option [value]="'A-'">
                    canton-
                  </mat-option>
                </mat-select>
              --> 
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>distrito</mat-label>
                <input matInput formControlName="district">
               <!--
<mat-select formControlName="district">
                  <mat-option [value]="'A-'">
                    Distrito-
                  </mat-option>
                </mat-select>
               --> 
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Telefono</mat-label>
                <input matInput formControlName="phone">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Nombre de usuaio</mat-label>
                <input matInput formControlName="userName">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">

          </div>
          <div class="col-md-12">
            <button mat-raised-button color="primary">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
