<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Settings'" [items]="[]" [active_item]="'Settings'"></app-breadcrumb>
    </div>
    <div class="card">
      <div class="header">
        <h2>
          <strong>Security</strong> Settings</h2>
      </div>
        <!-- breadcrumb -->
        <form class="validate-form " [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()">
        <div class="body" >
          <div class="example-container">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Current password</mat-label>
              <input matInput type="password" formControlName="currentPassword">
            </mat-form-field>
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>New password</mat-label>
              <input matInput type="password" formControlName="newPassword" >
            </mat-form-field>
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput type="password" formControlName="confirmPassword" >
              <mat-error>
                Password do not match
              </mat-error>

            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid" >Save</button>
        </div>
        </form>
    </div>
    <div class="card">
      <div class="header">
        <h2>
          <strong>Account</strong> Settings</h2>
      </div>
      <form class="validate-form " [formGroup]="userUpdateForm" (ngSubmit)="onSubmit()">
      <div class="body">
        <div class="row clearfix">
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" >
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Las Name</mat-label>
                <input matInput formControlName="lastName">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>User Name</mat-label>
                <input matInput formControlName="userName">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="userUpdateForm.get('email')!.hasError('required') || userUpdateForm.get('email')!.touched">
                  Please enter a valid email address
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Citizen Id</mat-label>
                <input matInput formControlName="citizenId">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone">
              </mat-form-field>
            </div>
          </div>



          <div class="col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Address</mat-label>
                <textarea matInput formControlName="address"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">
            <button mat-raised-button color="primary" type="submit" >Save</button>
          </div>
        </div>

      </div>
      </form>
    </div>
  </div>
</section>
