.content {
  .logo-patient {
    padding: 4rem;
  }

  .wellcome-text {
    padding-right: 15rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .attack-day {
    font-weight: 500;
    font-size: 1.4rem;
  }

  .responsive-font {
    font-size: 1vw !important;
  }

  .responsive-font-2 {
    font-size: 1.2vw !important;
    text-transform: capitalize;
  }

  .card.card-statistic-2 .card-icon-only {
    margin: 0.6vw !important;
  }

  .loader-chart {
    height: 18.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}