<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'PATIENT_BREADCRUM.DASHBOARD.TITLE' | translate"></app-breadcrumb>
    </div>
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="body">
            <div class="row align-items-center">
              <div class="col-md-4">
                <img src="assets/images/pages/BloomGuiño.png" alt="" class="w-100 logo-patient">
              </div>
              <div class="col-md-8 wellcome-text">
                <h4 class="font-20 weight-500 mb-2">
                  {{ 'DASHBOARD_PATIENT.WELLCOME_TITLE' | translate }} <div class="weight-600 font-30 col-blue pt-1">{{name + "!"}}</div>
                </h4>
                <p class="font-16 max-width-600">
                  {{ 'DASHBOARD_PATIENT.WELLCOME_TEXT' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-start">
              <img src="assets/images/pages/heart-rate.png" alt="">
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end responsive-font"> {{ 'DASHBOARD_PATIENT.CURRENT_ANXIETY_LEVEL' | translate }}</h5>
              </div>
              <div class="col-green">
                <h3 class="font-weight-bold float-end responsive-font-2 mb-0"> {{ 'DASHBOARD_PATIENT.LEVEL_1' | translate }} </h3>
              </div>
            </div>
          </div>
          <div class="card-content msl-4 mb-3">
            <p class="m-b-0 d-flex">
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-start">
              <img src="assets/images/pages/heart-rate.png" alt="">
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end responsive-font">{{ 'DASHBOARD_PATIENT.TOTAL_ATTACKS_RECORDED' | translate }}</h5>
              </div>
              <div class="col-green">
                <h3 class="font-weight-bold float-end mb-0 responsive-font-2">12</h3>
              </div>
            </div>
          </div>
          <div class="card-content msl-4 mb-3">
            <p class="m-b-0 d-flex">
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-start">
              <img src="assets/images/pages/glucose.png" alt="">
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end responsive-font">{{ 'DASHBOARD_PATIENT.LAST_ANXIETY_ATTACK' | translate }}</h5>
              </div>
              <div class="col-green">
                <h4 class="font-weight-bold float-end mb-0 attack-day responsive-font-2">{{ 'DASHBOARD_PATIENT.LAST_ATTACK_DATE' | translate }}</h4>
              </div>
            </div>
          </div>
          <div class="card-content msl-4 mb-3">
            <p class="m-b-0 d-flex">
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-start">
              <img src="assets/images/pages/heart-rate.png" alt="">
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end responsive-font">{{ 'DASHBOARD_PATIENT.DAYS_WITHOUT_ATTACKS' | translate }}</h5>
              </div>
              <div class="col-green">
                <h3 class="font-weight-bold float-end mb-0 responsive-font-2">38</h3>
              </div>
            </div>
          </div>
          <div class="card-content msl-4 mb-3">
            <p class="m-b-0 d-flex">
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="float-start">
              <h6 class="text-muted">{{ 'DASHBOARD_PATIENT.ANXIETY_LEVEL_PROGRESS_CHART' | translate }}</h6>
              <h5> <span class="text-muted font-12">{{ 'DASHBOARD_PATIENT.PER_SESSION' | translate }}</span> </h5>
            </div>
            <div class="mb-5">
              <apx-chart [series]="anxietyScaleDataOptions.series!" [chart]="anxietyScaleDataOptions.chart!"
                [xaxis]="anxietyScaleDataOptions.xaxis!" [stroke]="anxietyScaleDataOptions.stroke!"
                [colors]="anxietyScaleDataOptions.colors!" [dataLabels]="anxietyScaleDataOptions.dataLabels!"
                [legend]="anxietyScaleDataOptions.legend!" [markers]="anxietyScaleDataOptions.markers!"
                [grid]="anxietyScaleDataOptions.grid!" [yaxis]="anxietyScaleDataOptions.yaxis!"
                [tooltip]="anxietyScaleDataOptions.tooltip!" [title]="anxietyScaleDataOptions.title!"></apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="float-start">
              <h6 class="text-muted">{{ 'DASHBOARD_PATIENT.RECORDED_ATTACKS_HISTORY' | translate }}</h6>
              <h5><span class="text-muted font-12">{{ 'DASHBOARD_PATIENT.BY_DATE' | translate }}</span></h5>
            </div>
            <div class="mb-5">
              <apx-chart [series]="recordedAttacksOptions.series!" [chart]="recordedAttacksOptions.chart!"
                [dataLabels]="recordedAttacksOptions.dataLabels!" [plotOptions]="recordedAttacksOptions.plotOptions!"
                [yaxis]="recordedAttacksOptions.yaxis!" [legend]="recordedAttacksOptions.legend!" [fill]="recordedAttacksOptions.fill!"
                [stroke]="recordedAttacksOptions.stroke!" [tooltip]="recordedAttacksOptions.tooltip!"
                [xaxis]="recordedAttacksOptions.xaxis!">
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
