@import "../../../assets/scss/common/_variables";

.landing-container {
  .banner-wrapper {
    z-index: 1;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 190px;
    background-image: url(/assets/images/banner/landing.jpg);

    .content {
      max-width: 55rem;
      margin-left: auto;

      span {
        i {
          transform: translateY(-50%);
          position: absolute;
          color: map-get($colors, 'complement');
          left: 1.5rem;
          top: 50%;
        }

        position: relative;
        margin-bottom: 15px;
        border-radius: 50px;
        display: inline-block;
        padding: 10px 20px 10px 42px;
        color: #6a6c72;
        background-color: #ffffff;
        box-shadow: #959da526 0 8px 24px;
        font-size: 15px;
        font-weight: 500;
      }

      h1 {
        font-size: 75px;
        margin-bottom: 3rem;
        color: #222222;
        font-weight: 700;
        line-height: 0.8;
        @media only screen and (max-width: 1024px) {
          font-size: 40px;
          text-shadow: 0 0 1rem white;
        }
      }

      p {
        font-size: 1.2rem;
        max-width: 40rem;
        margin-bottom: 2rem;
      }

      button {
        background-color: map-get($colors, 'complement');
        color: #fff;
        display: inline-block;
        border-radius: 0;
        box-shadow: none;
        border: none;
        font-size: 16px;
        font-weight: 500;
        padding: 15px 40px;

      }
    }
  }

  .features {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
    @media only screen and (max-width: 1024px) {
      padding: 1rem;
    }
    .cards {
      display: flex;
      row-gap: 1rem;
      column-gap: 3rem;
      flex-wrap: wrap;

      .item {
        width: 100%;
        padding: 2rem 1.5rem;
        border-radius: 10px;
        margin-bottom: 25px;
        background-color: #fff;
        box-shadow: #959da533 0 8px 24px;
        flex: 1 0 18rem;

        .wrapper {
          display: flex;

          .icon {
            display: flex;
            align-items: center;

            i {
              font-size: 3.5rem;
              color: map-get($colors, 'complement');
              margin-right: 1.5rem;
            }
          }
        }
      }
    }
  }

  .about {
    padding: 5rem 0 0rem;
    @media only screen and (max-width: 1024px) {
      padding: 5rem 1rem 0rem;
    }
    .about-content {
      @media only screen and (min-width: 1024px) {
        padding-right: 8rem;
      }
      .sub-title {
        position: relative;
        margin-bottom: 15px;
        border-radius: 50px;
        display: inline-block;
        padding: 10px 20px 10px 42px;
        color: #6a6c72;
        background-color: #ffffff;
        box-shadow: #959da526 0 8px 24px;
        font-size: 15px;
        font-weight: 500;

        i {
          transform: translateY(-50%);
          position: absolute;
          color: map-get($colors, 'complement');
          left: 1.5rem;
          top: 50%;
        }
      }

      h3 {
        font-size: 3rem !important;
        margin-bottom: 0;
        max-width: 700px;
        line-height: 1.2;
        margin-bottom: 1rem;

        span {
          color: map-get($colors, 'complement');
        }

        @media only screen and (max-width: 1024px) {
          font-size: 2rem !important;
          text-shadow: 0 0 1rem white;
        }
      }

      p {
        color: #6a6c72;
        font-size: 1.1rem;
        margin-bottom: 15px;
        line-height: 1.8;
        @media only screen and (max-width: 1024px) {
          font-size: 1rem;
        }
      }

    }

    .about-image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        min-height: 26rem;
      }
    }
  }

  .our-goals {
    padding: 6rem 0;
    @media only screen and (max-width: 1024px) {
      padding: 6rem 1rem;
    }
    .section-title-warp {
      margin-bottom: 2rem;
      position: relative;

      span {
        position: relative;
        margin-bottom: 15px;
        border-radius: 50px;
        display: inline-block;
        padding: 10px 20px 10px 42px;
        color: #6a6c72;
        background-color: #ffffff;
        box-shadow: #959da526 0 8px 24px;
        font-size: 15px;
        font-weight: 500;

        i {
          transform: translateY(-50%);
          position: absolute;
          color: map-get($colors, 'complement');
          left: 1.5rem;
          top: 50%;
        }
      }

      h2 {
        font-size: 3rem !important;
        margin-bottom: 0;
        max-width: 700px;
        line-height: 1.2;
        margin-bottom: 1rem;

        small {
          color: map-get($colors, 'complement');
          font-size: 3rem !important;
        }

        @media only screen and (max-width: 1024px) {
          font-size: 2rem !important;
          text-shadow: 0 0 1rem white;
          small {
            font-size: 2rem !important;
          }
        }

      }

      p {
        color: #6a6c72;
        font-size: 1.1rem;
        margin-bottom: 15px;
        line-height: 1.8;
        @media only screen and (max-width: 1024px) {
          font-size: 1rem;
        }
      }

      margin-bottom: 4rem;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      .single-goal {
        width: 100%;
        padding: 1rem;
        border-radius: 1rem;
        margin-bottom: 2rem;
        background-color: #fff;
        border-bottom: 1px solid map-get($colors, 'complement');
        flex: 1 0 14rem;
        box-shadow: #959da533 0 8px 24px;

        .icon {
          box-shadow: #0000000d 0 10px 36px, #0000000a 0 0 0 1px;
          background-color: #fff;
          color: map-get($colors, 'complement');
          margin-bottom: 2rem;
          position: relative;
          text-align: center;
          border-radius: 50%;
          font-size: 2.5rem;
          height: 5rem;
          width: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 1 0 14rem;
        }

        h3 {
          @media only screen and (max-width: 1024px) {
            font-size: 1.3rem !important;
          }
        }

        p {
          color: #6a6c72;
          font-size: 1rem;
          margin-bottom: 15px;
          line-height: 1.8;
        }
      }
    }
  }

  .services {
    background-color: #f5f5f5;
    padding: 10rem 0;
    @media only screen and (max-width: 1024px) {
      padding: 10rem 1rem;
    }
    .services-content {
      .sub-title {
        position: relative;
        margin-bottom: 15px;
        border-radius: 50px;
        display: inline-block;
        padding: 10px 20px 10px 42px;
        color: #6a6c72;
        background-color: #ffffff;
        box-shadow: #959da526 0 8px 24px;
        font-size: 15px;
        font-weight: 500;

        i {
          transform: translateY(-50%);
          position: absolute;
          color: map-get($colors, 'complement');
          left: 1.5rem;
          top: 50%;
        }
      }

      h3 {
        font-size: 3rem !important;
        margin-bottom: 0;
        max-width: 700px;
        line-height: 1.3;
        margin-bottom: 1rem;

        span {
          color: map-get($colors, 'complement');
        }
        @media only screen and (max-width: 1024px) {
          font-size: 2rem !important;
          text-shadow: 0 0 1rem white;
        }
      }

      p {
        color: #6a6c72;
        font-size: 1.1rem;
        margin-bottom: 15px;
        line-height: 1.8;
        max-width: 40rem;
        @media only screen and (max-width: 1024px) {
          font-size: 1rem;
        }
      }

      .services-list {
        padding-left: 0;
        list-style-type: none;
        margin: 1.5rem 0 3rem;

        li {
          position: relative;
          padding-left: 0rem;
          margin-bottom: 1rem;
          font-size: 1.1rem;
          display: flex;
          align-items: center;
          gap: 0.5rem;

          i {
            width: 2rem;
            height: 2rem;
            font-size: 1rem;
            line-height: 1;
            text-align: center;
            border-radius: 50px;
            display: inline-block;
            color: #ffffff;
            background-color: map-get($colors, 'complement');
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .services-info {
        position: relative;
        display: flex;
        align-items: flex-end;
        gap: 1rem;

        i {
          width: 80px;
          height: 80px;
          font-size: 45px;
          line-height: 94px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          color: map-get($colors, 'complement');
          background-color: #fff;
          box-shadow: 0 15px 35px #0000001a;
        }

        h4 {
          margin-bottom: 1rem;
          font-size: 2rem;
          font-weight: 500;
        }

        span {
          font-weight: 500;
          color: #6a6c72;
          font-size: 1.2rem;
          padding-left: 0.3rem;
        }
      }
    }

    .services-image {
      @media only screen and (max-width: 1024px) {
        margin-top:3rem;
      }
      img {
        width: 100%;
      }
    }
  }

  .professionals {
    padding: 8rem 0 0;
    @media only screen and (max-width: 1024px) {
      padding: 8rem 1rem 0;
    }
    .section-title-warp {
      margin-bottom: 2rem;
      position: relative;

      span {
        position: relative;
        margin-bottom: 15px;
        border-radius: 50px;
        display: inline-block;
        padding: 10px 20px 10px 42px;
        color: #6a6c72;
        background-color: #ffffff;
        box-shadow: #959da526 0 8px 24px;
        font-size: 15px;
        font-weight: 500;

        i {
          transform: translateY(-50%);
          position: absolute;
          color: map-get($colors, 'complement');
          left: 1.5rem;
          top: 50%;
        }
      }

      h2 {
        font-size: 3rem !important;
        margin-bottom: 0;
        max-width: 800px;
        line-height: 1.2;
        margin-bottom: 1rem;

        small {
          color: map-get($colors, 'complement');
          font-size: 3rem !important;
        }

        @media only screen and (max-width: 1024px) {
          font-size: 2rem !important;
          text-shadow: 0 0 1rem white;
          small {
            font-size: 2rem !important;
          }
        }
      }

      p {
        color: #6a6c72;
        font-size: 1.1rem;
        margin-bottom: 15px;
        line-height: 1.8;
        max-width: 40rem;
        @media only screen and (max-width: 1024px) {
          font-size: 1rem;
        }
      }
    }

    .controls {
      margin-bottom: 3rem;
    }

    .professionals-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
      .doctor-card {
        width: calc(25% - 2rem);
        animation: fadeIn 1s ease-out; 
        @media screen and (max-width: 1024px) {
          flex: 1 0 18rem;
        }
        .single-doctor {
          text-align: center;
          margin-bottom: 25px;
          transition: .5s;
          background-color: #fff;
          img {
            max-width: 100%;
            border-radius: 10px 10px 0 0;
            height: 230px;
            width: 100%;
            object-fit: scale-down;
            background: #fff;
          }

          .doctor-content {
            padding: 30px;
            border-radius: 0 0 10px 10px;
            border-bottom: 2px solid map-get($colors, 'complement');
            box-shadow: #959da533 0 8px 24px;
            min-height: 160px;
            h3 {
              margin-bottom: 8px;
              font-size: 1.6rem !important;
              font-weight: 500 !important;
            }

            span {
              color: #6a6c72;
              display: inline-block;
              font-size: 1.3rem;
            }
          }
        }
      }
    }

    .no-results-message {
      text-align: center;
      margin-top: 20px;
      font-style: italic;
      color: #666; // O cualquier color que prefieras
    }    
    
  }

  .reviews {
    padding: 3rem 0 8rem;
    @media only screen and (max-width: 1024px) {
      padding: 3rem 1rem 8rem;
    }
    .section-title-warp {
      margin-bottom: 5rem;
      position: relative;

      span {
        position: relative;
        margin-bottom: 15px;
        border-radius: 50px;
        display: inline-block;
        padding: 10px 20px 10px 42px;
        color: #6a6c72;
        background-color: #ffffff;
        box-shadow: #959da526 0 8px 24px;
        font-size: 15px;
        font-weight: 500;

        i {
          transform: translateY(-50%);
          position: absolute;
          color: map-get($colors, 'complement');
          left: 1.5rem;
          top: 50%;
        }
      }

      h2 {
        font-size: 3rem !important;
        margin-bottom: 0;
        max-width: 700px;
        line-height: 1.2;
        margin-bottom: 1rem;

        small {
          color: map-get($colors, 'complement');
          font-size: 3rem !important;
        }
        @media only screen and (max-width: 1024px) {
          font-size: 2rem !important;
          text-shadow: 0 0 1rem white;
          small {
            font-size: 2rem !important;
          }
        }
      }

      p {
        color: #6a6c72;
        font-size: 1.1rem;
        margin-bottom: 15px;
        line-height: 1.8;
        max-width: 40rem;
        @media only screen and (max-width: 1024px) {
          font-size: 1rem;
        }
      }
    }

    .reviews-wrapper {
      margin: 0 -1rem;

      .review-item {
        padding: 0 1rem;

        .review-card {
          background-color: #Fff;
          padding: 2rem 1rem 1rem;
          border-radius: 1rem;
          position: relative;
          margin-bottom: 1rem;
          margin-top: 1.5rem;
          box-shadow: #959da533 0 8px 24px;
          min-height: 22rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .icon {
            top: -35px;
            left: 30px;
            z-index: 1;
            position: absolute;

            i {
              box-shadow: #11111a0f 0 0 16px;
              background-color: #fff;
              color: map-get($colors, 'complement');
              display: inline-block;
              text-align: center;
              border-radius: 50%;
              line-height: 78px;
              font-size: 30px;
              height: 70px;
              width: 70px;
            }
          }

          p {
            color: #6a6c72;
            font-size: .9rem;
            margin: 2rem 0 1rem;
            line-height: 1.8;
          }

          .review-info {
            margin-top: 25px;
            position: relative;
            padding-left: 75px;

            img {
              transform: translateY(-50%);
              display: inline-block;
              border-radius: 50%;
              position: absolute;
              height: 58px;
              width: 58px;
              top: 50%;
              left: 0;
            }

            h3 {
              margin-bottom: 5px;
              font-size: 20px;
              font-weight: 500;
            }

            span {
              font-size: 15px;
              color: #6a6c72;
            }
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}