<div class="landing-container">
  <div class="banner-wrapper">
    <div class="container">
      <div class="content">
        <span class="sub-title">
          <i class="fas fa-hashtag"></i>
          Bloom
        </span>
        <h1>
          La herramienta perfecta para
          la salud de tus pacientes
        </h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
        <button (click)="navigateToLogin()">
          Registrate ahora
        </button>
      </div>
    </div>
  </div>
  <div class="features">
    <div class="container">
      <div class="cards">
        <div class="item">
          <div class="wrapper">
            <div class="icon">
              <i class="fas fa-notes-medical"></i>
            </div>
            <div class="content">
              <h3>
                Lorem ipsum dolor
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="wrapper">
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
            <div class="content">
              <h3>
                Lorem ipsum dolor
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="wrapper">
            <div class="icon">
              <i class="fas fa-heartbeat"></i>
            </div>
            <div class="content">
              <h3>
                Lorem ipsum dolor
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="our-goals">
    <div class="container">
      <div class="section-title-warp">
        <span class="sub-title">
          <i class="fas fa-hashtag"></i> Lorem Impsum
        </span>
        <h2>Nuestros objetivos</h2>
      </div>
      <div class="cards">
        <div class="single-goal">
          <div class="icon">
            <i class="fas fa-hand-holding-heart"></i>
          </div>
          <h3>
            Quality Brackets
          </h3>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.</p>
        </div>
        <div class="single-goal">
          <div class="icon">
            <i class="fas fa-hand-holding-heart"></i>
          </div>
          <h3>
            Quality Brackets
          </h3>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.</p>
        </div>
        <div class="single-goal">
          <div class="icon">
            <i class="fas fa-hand-holding-heart"></i>
          </div>
          <h3>
            Quality Brackets
          </h3>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.</p>
        </div>
        <div class="single-goal">
          <div class="icon">
            <i class="fas fa-hand-holding-heart"></i>
          </div>
          <h3>
            Quality Brackets
          </h3>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="services">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12">
          <div class="services-content">
            <span class="sub-title">
              <i class="fas fa-hashtag"></i>  Services
            </span>
            <h3>
              Our Clients are Our Priority, We Offer Quality Services 
              <span>of Specialists</span>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
            <div class="row">
              <div class="col-lg-4 col-6">
                <ul class="services-list">
                  <li>
                    <i class="fas fa-check"></i> Service 
                  </li>
                  <li>
                    <i class="fas fa-check"></i> Service
                  </li>
                  <li>
                    <i class="fas fa-check"></i> Service
                  </li>
                </ul>
              </div>
              <div class="col-lg-4 col-6">
                <ul class="services-list">
                  <li>
                    <i class="fas fa-check"></i> Service
                  </li>
                  <li>
                    <i class="fas fa-check"></i> Service
                  </li>
                  <li>
                    <i class="fas fa-check"></i> Service
                  </li>
                </ul>
              </div>
            </div>
            <div class="list">
              <div class="row">
                <div class="col-6">
                  <div class="services-info">
                    <i class="fas fa-heartbeat"></i>
                    <div>
                      <h4>15+ Years</h4>
                      <span>Tech Experienced</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12">
          <div class="services-image">
            <img src="/assets/images/banner/services.jpg"alt="services-image">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>