.example-chip-list {
  width: 100%;
}

.example-button-container > button {
  margin: 0 12px;
}

.bg-blue {
  background-color: #38a6c5;
}

.center {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input:disabled {
  color: black;
}

select:disabled {
  color: black;
}

.mat-select-disabled .mat-select-value {
  color: black;
}