<section class="content">
  <div class="content-block">
    <div class="block-header section-header">

      <app-breadcrumb [title]="'Patients'" [items]="[]" [active_item]="'Patients'"></app-breadcrumb>
      <button mat-flat-button color="primary" class="btn-create-patient" [routerLink]="['/doctor/patient']">Add
        new</button>
    </div>


    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" *ngFor="let patient of patients">
        <div class="card py-3 py-md-3">
          <div class=" d-flex justify-content-between px-3 px-md-4">
            <img src="assets/images/user/usrbig1.jpg" height="55sspx" width="55px" alt="" class="rounded-circle">
            <div class="">
              <h6 class="col-green">{{ patient.name }} {{ patient.lastName}}</h6>
              <p>Patient Id: {{ patient.id}}</p>
            </div>
          </div>
          <hr class="light-hr">
          <div class="d-flex flex-column justify-content-start w-100 px-3 px-md-4">
            <div><i class="fas fa-map-marker-alt pt-3 psr-3"></i>{{ patient.address}}</div>
            <div><i class="fas fa-phone pt-3 psr-3"></i>{{ patient.phone}}</div>
          </div>
          <hr class="light-hr">#paginator                                                           
          <div class="d-flex justify-content-between px-3 px-md-4">
          </div>
          <hr class="light-hr">
          <div class="d-flex justify-content-around px-4"> <button mat-stroked-button color="primary">Read
              More</button></div>
        </div>
      </div>
    </div>
  </div>
</section>