.section-header{

  display: flex;
  justify-content: space-between;

  .btn-create-patient{
    height: 38px;
    margin-top: 20px;
  }
}

h6.patient-name {
  color: #3158a7;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

::ng-deep .mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: #0c0c0c;
}

::ng-deep .mat-chip.mat-standard-chip.mat-chip-disabled {
  opacity: 1;
  color: #0c0c0c;
}

::ng-deep .mat-chip.mat-standard-chip {
  background-color: #c3e5ee;
}

.center-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.center-message {
  display: flex;
  justify-content: center;
  align-items: center;
}




