.section-header{

  display: flex;
  justify-content: space-between;

  .btn-create-patient{
    height: 38px;
    margin-top: 20px;
  }
}

h6.patient-name {
  color: #3158a7;
} 

.center {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100vh;
}
