<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Chat'" [items]="['Apps']" [active_item]="'Chat'"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="card">
          <div class="body">
            <div id="plist" class="people-list">
              <div class="form-line m-b-15">
                <input type="text" class="form-control" placeholder="Search..." />
              </div>
              <div class="spinner">
                <mat-spinner *ngIf="isLoading"> </mat-spinner>
              </div>

              <div class="tab-content"  >
                <ng-scrollbar style="height: 590px" visibility="hover">
                  <div id="chat_user" >
                    <ul class="chat-list list-unstyled m-b-0" *ngFor="let conversation of conversations">
                      <li class="clearfix active" >
                        <img src="assets/images/user/user1.jpg" alt="avatar">
                        <div class="about">
                          <div class="name">{{conversation.name + " " + conversation.lastName}}</div>
                          <div class="status">
                            <i class="material-icons offline">fiber_manual_record</i>
                            left 7 mins ago </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </ng-scrollbar>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="card">
          <div class="chat">
            <div class="chat-header clearfix">
              <img src="assets/images/user/user2.jpg" alt="avatar">
              <div class="chat-about">
                <div class="chat-with">Maria Smith</div>
                <div class="chat-num-messages">2 new messages</div>
              </div>
            </div>
            <ng-scrollbar style="height: 450px" visibility="hover">
              <form [formGroup]="authForm" (ngSubmit)="sendMessage()" >
                <div class="chat-history" id="chat-conversation">
                  <ul>
                    <li class="clearfix" *ngFor="let message of webSocketService.chatMessages">
                      <!--                    if I am the sender i need text-end-->
                      <div class="message-data text-end">
                      <span class="message-data-time">10:10 AM, Today
                      </span>
                        &nbsp; &nbsp;
                        <span class="message-data-name">Maria</span>
                      </div>
                      <div class="message other-message float-end"> {{message.message}} </div>
                    </li>
<!--                    <li>-->
<!--                      <div class="message-data">-->
<!--                        <span class="message-data-name">Robert </span>-->
<!--                        <span class="message-data-time">10:12 AM, Today</span>-->
<!--                      </div>-->
<!--                      <div class="message my-message">-->
<!--                        <p>Its good. We completed almost all task assign by our manager.</p>-->
<!--                        <div class="row">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </li>-->
                  </ul>
                </div>

                <div class="chat-message clearfix">
                  <div class="form-group">
                    <div class="form-line">
                      <mat-form-field class="example-full-width" appearance="outline"
                                      [hideRequiredMarker]="hideRequiredControl.value">
                        <input
                          matInput placeholder="Enter text here.."
                          required
                          formControlName="message"
                        >

                      </mat-form-field>
                    </div>
                  </div>
                  <div class="chat-upload">
                    <button
                      mat-mini-fab class="bg-deep-orange msr-2"
                      type="submit">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </div>
              </form>
            </ng-scrollbar>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
