.spinner{
  display: flex;
  flex-direction: column;

  .img{
    display: flex;
    justify-content: space-around;
    height: 286px;
  }

  .text{
    display: flex;
    justify-content: center;
  }
}

.body {
  min-height: 718px;
}

.select{
  display: flex !important;
  justify-content: center !important;
}

.chat .chat-header .chat-with{
  margin-top: 15px;
}


.people-list .chat-list li.active:hover {
  background-color: rgba(0, 0, 0, 0.17); }


.gif{
  margin-top: 60px;
  width: 217px;
  height: 217px;
  box-shadow: none;
}
