<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Chat'" [items]="['Apps']" [active_item]="'Chat'"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="card">
          <div class="body">
            <div id="plist" class="people-list">
              <div class="form-line m-b-15">
                <input type="text" class="form-control" [ngModel]="word" (ngModelChange)="filter($event)" placeholder="Search..." />
              </div>
              <div class="tab-content"  >
                <ng-scrollbar style="height: 590px" visibility="hover">
                  <div class="spinner" *ngIf="!conversationSelected && isLoading">
                    <div class="img">
                      <img  class="gif" src="assets/gif/loading-bloom.gif" alt="avatar">
                    </div>
                    <div class="text">{{"We are reading your conversations..."}}</div>
                  </div>
                  <div id="chat_user" >
                    <ul class="chat-list list-unstyled m-b-0" *ngFor="let conversation of conversations">
                      <li class="clearfix active" (click)="getConversationInformation(conversation)" >
                        <img src="assets/images/user/user1.jpg" alt="avatar">
                        <div class="about">
                          <div class="name">{{conversation.name + " " + conversation.lastName}}</div>
                          <div>{{conversation.newMessages === 0 ? 'No new messages' : conversation.newMessages + " new messages"}}</div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </ng-scrollbar>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="spinner col-xs-12 col-sm-12 col-md-9 col-lg-9 card select" *ngIf="!conversationSelected && !isLoading">
        <div class="img">
          <img  class="gif" src="assets/gif/bloom-blink.gif" alt="avatar">
        </div>
        <div class="text">{{conversations.length != 0 ? "Select a conversation" : "You do not have any conversation yet" }}</div>
      </div>


      <div class="spinner col-xs-12 col-sm-12 col-md-9 col-lg-9 card select" *ngIf="isConversationSelected && isLoading">
        <div class="img">
          <img  class="gif" src="assets/gif/full-loading-bloom.gif" alt="avatar">
        </div>
        <div class="text">{{"Loading conversation messages..."}}</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9" *ngIf="isConversationSelected && !isLoading">
        <div class="card">
          <div class="chat">
            <div class="chat-header clearfix">
              <img src="assets/images/user.png" alt="avatar">
              <div class="chat-about">
                <div class="chat-with">{{conversationSelected.name + " " + conversationSelected.lastName}}</div>
              </div>
            </div>

              <form [formGroup]="authForm" (ngSubmit)="sendMessage()" >
                <ng-scrollbar style="height: 450px" visibility="hover">
                  <div class="chat-history" id="chat-conversation">
                    <ul>
                      <li class="clearfix" *ngFor="let message of messagesList">

                        <div class="message-data " [class.text-end]="message.senderId == userInSystem()">
                        <span class="message-data-time">{{getDate(message.date)}}
                        </span>
                          &nbsp; &nbsp;
                          <span class="message-data-name">{{message.senderName}}</span>
                        </div>
                        <div
                          class="message"
                          [class.other-message]="message.senderId == userInSystem()"
                          [class.my-message]="message.senderId != userInSystem()"
                          [class.float-end]="message.senderId == userInSystem()">
                            {{message.message}}
                        </div>
                      </li>
                    </ul>
                  </div>
                </ng-scrollbar>
                <div  class="chat-message clearfix">
                  <div class="form-group">
                    <div class="form-line">
                      <mat-form-field class="example-full-width" appearance="outline"
                                      [hideRequiredMarker]="hideRequiredControl.value">
                        <input
                          matInput placeholder="Enter text here.."
                          required
                          formControlName="message"
                        >

                      </mat-form-field>
                    </div>
                  </div>
                  <div class="chat-upload">
                    <button
                      mat-mini-fab class="bg-deep-orange msr-2"
                      type="submit" >
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
