<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 right_info">
                    <p><i class="fas fa-globe"></i> No Limits Solutions</p>
                </div>
                <div class="col-md-7 col-sm-12 left_info">
                    <ul>
                        <li><i class="fa fa-mobile-alt"></i><a href="#">+506 87119258</a></li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">bloomqm@gmail.com</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="header-main">
        <div class="container">
            <nav id='cssmenu'>
                <div class="logo">
                    <a href="/"><img src="/assets/images/banner/bloom.png" ></a>
                </div>
                <ul>
                    <li><a routerLink="/public" fragment="banner">Inicio</a></li>
                    <li><a routerLink="/public" fragment="about">Nosotros</a></li>
                    <li><a routerLink="/public" fragment="goals">Objetivos</a></li>
                    <li><a routerLink="/public" fragment="services">Servicios</a></li>
                    <li><a routerLink="/public" fragment="reviews">Reviews</a></li>
                    <button (click)="navigateToLogin()">
                        Iniciar sesión
                    </button>
                </ul>                
            </nav>
        </div>
    </div>
</header>