<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 right_info">
                    <div class="language-switcher">
                        <button (click)="changeLanguage('es')" [class.active]="isLanguageActive('es')">ES</button>
                        <button (click)="changeLanguage('en')" [class.active]="isLanguageActive('en')">EN</button>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 left_info">
                    <ul>
                        <li><i class="fa fa-mobile-alt"></i><a href="tel:+50687119258">{{ 'HEADER.PHONE' | translate }}</a></li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:bloomqm@gmail.com">{{ 'HEADER.EMAIL' | translate }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-main">
        <div class="container">
            <nav id='cssmenu'>
                <div class="logo">
                    <a href="/"><img src="/assets/images/banner/bloom.png" alt="Bloom Quiet Mind"></a>
                </div>
                <ul>
                    <li><a routerLink="/public" fragment="banner">{{ 'HEADER.HOME' | translate }}</a></li>
                    <li><a routerLink="/public" fragment="about">{{ 'HEADER.ABOUT' | translate }}</a></li>
                    <li><a routerLink="/public" fragment="goals">{{ 'HEADER.GOALS' | translate }}</a></li>
                    <li><a routerLink="/public" fragment="services">{{ 'HEADER.SERVICES' | translate }}</a></li>
                    <li><a routerLink="/public" fragment="reviews">{{ 'HEADER.REVIEWS' | translate }}</a></li>
                    <button (click)="navigateToLogin()">
                        {{ 'HEADER.LOGIN' | translate }}
                    </button>
                </ul>                
            </nav>
        </div>
    </div>
</header>
