<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 right_info">
                    <p><i class="fas fa-globe"></i> No Limits Solutions</p>
                </div>
                <div class="col-md-7 col-sm-12 left_info">
                    <ul>
                        <li><i class="fa fa-mobile-alt"></i><a href="#">+506 87119258</a></li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">bloomqm@gmail.com</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="header-main">
        <div class="container">
            <nav id='cssmenu'>
                <div class="logo">
                    <a href="/"><img src="https://i.ibb.co/QDy827D/ak-logo.png"></a>
                </div>
                <div id="head-mobile"></div>
                <div class="button"></div>
                <ul>
                    <li><a href='#banner'>Inicio</a></li>
                    <li><a href='#about'>Nosotros</a></li>
                    <li><a href='#goals'>Objetivos</a></li>
                    <li><a href='#services'>Servicios</a></li>
                    <li><a href='#reviews'>Reviews</a></li>
                    <button (click)="navigateToLogin()">
                        Iniciar sesión
                    </button>
                </ul>
            </nav>
        </div>
    </div>
</header>