<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'View Resource'" [items]="['Resource']" [active_item]="'View Resource'"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" *ngIf="role === 'Doctor'">
        <div class="card">
          <div class="body">
            <div id="mail-nav">
              <h5 class="b-b p-10 text-strong">Assigned to:</h5>
              <div *ngIf="!flag" >
                <mat-spinner></mat-spinner>
              </div>
              <ul class="online-user" id="online-offline" *ngFor="let p of patientsList">
                <li>
                  <i class="material-icons col-green" title="Online">brightness_1</i>
                  {{p.name}} {{p.lastName}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="card">
          <div class="boxs mail_listing">
          <div *ngIf="!flag">
            <mat-spinner></mat-spinner>
          </div>

            <div class="inbox-body no-pad" *ngIf="flag">
              <section class="mail-list">
                <div class="mail-sender">

                  <div class="mail-heading">
                    <h4 class="vew-mail-header">
                      <b>{{resource.title}}</b>
                    </h4>
                  </div>
                  <hr>
                  <div class="d-flex mb-4">
                    <div class="flex-grow-1">
                      <span class="date float-end">{{resource.date}}</span>
                      <h4 class="text-primary">{{resource.specialist}}</h4>
                    </div>
                  </div>
                </div>

                <div class="view-mail" [innerHTML]="resource.content"></div>

              </section>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
