<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <br>
      <h1>{{'MENUITEMS.RESOURCES.READ' | translate}} </h1>

    </div>
    <div *ngIf="!flag" >
      <mat-spinner></mat-spinner>
    </div>
    <div class="row" *ngIf="flag">

      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" *ngIf="role === 'Doctor'">
        <div class="card">
          <div class="body">
            <div id="mail-nav">
              <h5 class="b-b p-10 text-strong">{{'MENUITEMS.RESOURCES.ASSIGN' | translate}}</h5>
              <ul class="online-user" id="online-offline" *ngFor="let p of patientsList">
                <li>
                  <i class="material-icons col-green" title="Online">brightness_1</i>
                  {{p.name}} {{p.lastName}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="card">
          <div class="boxs mail_listing">
            <div class="inbox-body no-pad">
              <section class="mail-list">
                <div class="mail-sender">
                  <div class="mail-heading">
                    <h4 class="vew-mail-header">
                      <b>{{resource.title}}</b>
                        <button mat-raised-button color="primary" class="msr-2 float-end" style="display: inline-block" *ngIf="role === 'Doctor'" >
                          <a routerLink="/resource/modify" (click)="sessionResource(resource.id)" style="color: white">{{'MENUITEMS.RESOURCES.MODIFY' | translate}}</a>
                        </button>

                    </h4>
                  </div>
                  <hr>
                  <div class="d-flex mb-4">
                    <div class="flex-grow-1">
                      <span class="date float-end">{{resource.date}}</span>
                    </div>
                  </div>
                </div>

                <div class="view-mail" [innerHTML]="resource.content"></div>

              </section>
            </div>
          </div>

        </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="boxs mail_listing">
            <div class="inbox-center table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th colspan="3">
                    <div class="mail-heading ">
                      <h4 class="vew-mail-header">
                        <b>{{'MENUITEMS.RESOURCES.TASKLIST' | translate}}</b>
                      </h4>
                      <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="deleteChecked()" *ngIf="role === 'Doctor'">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <form class="composeForm" [formGroup]="formGroup" (submit)="onSubmit()" *ngIf="role === 'Doctor'" >
                        <div class="form-line" >
                          <mat-form-field class="example-full-width " appearance="outline" >
                            <mat-label>{{'MENUITEMS.RESOURCES.ADDTASK' | translate}}</mat-label>
                            <input matInput  formControlName="newtask">
                          </mat-form-field>

                          <button mat-raised-button color="primary" class="msr-2 float-end" style="display: inline-block" >
                            {{'MENUITEMS.RESOURCES.ADDTASK' | translate}}
                          </button>
                        </div>
                      </form>

                    </div>
                  </th>

                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let t of taskList">
                  <td class="tbl-checkbox">
                    <mat-checkbox class="example-margin" id="{{t.id}}}" (change)="onCheck(t.id)" checked="{{t.done}}"></mat-checkbox>
                  </td >
                  <td>
                    <a routerLink="" (click)="sessionResource(t.id)" *ngIf="role === 'Doctor'"  ><mat-icon>edit</mat-icon></a>
                  <td class="hidden-xs" >{{t.description}}</td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
