.btn{
  background-color: #4b5365;
  color: white;
  border-radius: 3px;
}

.spinner-form{
  display: flex;
  justify-content: center;
}

.password-section{
  display: flex;
  justify-content: space-between;
}

.input-mat{
  width: 95%;
}

.black{
  background-color: black;
  color: white;
}

.img-photo{
  border-radius: 22px !important;
}

.spinner{
  display: flex;
  justify-content: space-around;
}

.file-input {
  display: none;
}
