<div>
  <h2 mat-dialog-title>Crear Diario</h2>
  <div mat-dialog-content>
    <form [formGroup]="diaryForm!" (ngSubmit)="onSubmitClick()">
      <div class="text-inside">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Titulo de mi diario" formControlName="title" required>
          <mat-error *ngIf="diaryForm.controls?.['title']?.hasError('required')">
            Por favor ingrese un titulo
          </mat-error>
        </mat-form-field>
      </div>
      <div class="btn-sec">
        <button class="btn-space" mat-raised-button color="primary">Save</button>
        <button type="button" mat-button (click)="closeDialog()">Cancel</button>
      </div>
    </form>
  </div>
</div>
